
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: ghostwhite;
  color:rgb(76, 76, 76);
  line-height: 1.6;
}

a {
  color: rgb(217, 42, 71);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

.header {
  background-color:rgb(217, 42, 71);
  color: white;
  padding: 32px;
  text-align: center;
}

.header h1 {
  margin: 0;
  font-size:40px;
  letter-spacing: 1px;
}

.main {
  padding:32px;
}

.section1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 48px;
}

.section1 div {
  flex: 1 1 45%;
  padding: 16px;
}

.section1 h2 {
  color:rgb(217, 42, 71);
  font-size: 32px;
}

#image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.section2 h2 {
  color:rgb(55, 54, 54);
  font-size: 30px;
  margin-bottom:16px;
}

.section2 ul {
  list-style: none;
  padding: 0;
}

.section2 li {
  background:white;
  border-left: 5px solid ;
  margin-bottom: 16px;
  padding: 16px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.section3, .section4 {
  margin-top: 32px;
}

.section3 h2, .section4 h2 {
  color: rgb(217, 42, 71);
  font-size: 30px;
}

  button {
  background-color:rgb(217, 42, 71);
  color: white;
  border: none;
  padding: 50px ,50px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 16px;
}

button:hover {
  background-color:rgb(216,27,96);
}

 button a {
  color: white;
  text-decoration: none;
}

.footer {
  background-color:rgb(52, 52, 52);
  color: white;
  text-align: center;
  padding: 16px;
  margin-top:48px;
  font-size:15px;
}