
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  color: rgb(125, 4, 4);
}

header {
  background-color: rgb(205, 0, 0);
  color: rgb(255, 235, 235);
  padding: 24px;;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 32px;
}

.section1,
.section2,
.section3,
.section4 {
  padding: 32px;
  margin: 16px;
  background-color: rgb(249, 229, 229);
  border-left: 6px solid rgb(205, 0, 0);
  border-radius: 5px;
}

.section1 h1,
.section2 h2,
.section4 h2 {
  color: rgb(125, 4, 4);
}

.section1 a,
.section4 a {
  display: inline-block;
  margin-top: 16px;
  color: rgb(205, 0, 0);
  text-decoration: none;
  font-weight: bold;
}

.section1 a:hover,
.section4 a:hover {
  text-decoration: underline;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 16px;
  font-weight: bold;
  color: rgb(125, 4, 4);
}

input,
textarea {
  padding: 8px;
  margin-top: 8px;
  border: 1px solid Red;
  border-radius: 4px;
  background-color:white;
  color: Very dark red;
}

input::placeholder,
textarea::placeholder {
  color: rgb(169, 72, 72);
}

.btn.primary {
  margin-top: 24px;
  padding: 12px;
  background-color: rgb(210, 0, 0);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.btn.primary:hover {
  background-color: rgb(131, 2, 2);
}

.footer {
  background-color: rgb(210, 0, 0);
  color: white;
  text-align: center;
  padding: 16px;
  margin: top 32px;
}
